/* ------------------------------------------------------------------

Photofolio 2 CSS - [Table of contents]

1. Basic CSS
2. Header and Navigation
3. Widget Areas CSS
4. Footer
5. Widgets
6. Default WordPress Widgets
7. Page, Category and Post CSS
8. WooCommerce
9. Responsive Design

-------------------------------------------------------------------*/

/* 1. Basic CSS */

body {
	overflow-x: hidden;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Cardo', serif;
}

.hidden-front {
	display: block;
}

.front-widget {
	display: none;
}

.home .front-widget {
	display: block;
}

.hidden-front {
	display: block;
}

.home .hidden-front {
	display: none;
}

a {
	text-decoration: none !important;
}

.widget-title {
	text-align: center;
	margin: 0 0 30px;
	font-size: 26px;
}


/* 2. Header and Navigation */

.home .site-header {
	margin-top: 32px;
	padding-top: 20px;
}

.site-header {
	position: relative;
    background: #353535;
    margin: 0 0 50px;
    padding: 5px 0 0;
}

.home .site-header {
    position: absolute;
	background: transparent;
    width: 100%;
    z-index: 10;
    color: rgba(255, 255, 255, 0.85);
    padding: 20px 0 0 !important;
	top: 0;
}

.menu-mobile {
	display: none;
}

.main-menu-icon {
	display: inline-block;
}

.menu-icon {
    display: inline-block;
    padding: 0 10px 0 0;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.8);
}

.main-navigation {
    display: inline-block !important;
    width: auto;
    float: none;
    margin-left: 50px;
    vertical-align: sub;
}

.main-navigation li {
    margin: 0 14px;
}

.main-navigation a {
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    font-size: 14px;
}

#site-navigation li a:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: #fff;
    content: ' ';
    transition: width 0.4s;
}

#site-navigation li a:hover:after {
    width: 100%;
    transition: width 0.4s;
}


.main-navigation ul ul {
    background: rgba(255, 255, 255, 0.98);
    top: 50px;
    border: 1px solid #f0f0f0;
    box-shadow: none !important;
    text-align: left;
}

.main-navigation ul ul li {
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 13px;
}

.main-navigation ul ul li a {
    padding: 12px 0 !important;
}

.site-branding {
	display: inline-block;
}

/* Social */

#social {
    text-align: right !important;
	font-size: 13px;
}

#social .widget {
	margin: 0 !important;
}

#social p {
	margin: 10px 0 0 !important;
}

#social span {
    padding-right: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 100;
    color: #b6b6b6;
}

#social a {
    padding: 0 5px;
    color: #b6b6b6;
    transition: color .4s ease;
}

#social a:hover {
    color: #fff;
    transition: color .4s ease;
}


/* 3. Widget Areas CSS */
#about .widget,
#recent-work .widget,
#services .widget,
#blog .widget,
#events .widget,
#catalogue .widget, 
#contact .widget {
	padding: 90px 0;
}

#recent-work,
#blog,
#catalogue {
	background: #f9f9f9;
}

/* Showcase */

#showcase {
    position: relative;
    overflow: hidden;
    min-height: 600px;
}

video#bgvid {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
	object-fit: cover;
}

#box-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.52);
    top: -70%;
    right: 0;
    bottom: -70%;
    left: 0;
}



/* About */

#about .info {
    background: #fc3468;
    text-align: center;
	margin: 0;
}

#about .info > * {
    padding: 0;
}

#about .info h2 {
    font-size: 25px;
    margin-top: 35px;
    color: #fff;
}


#about .info h4 {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.89);
    margin-top: 20px;
}

#about .info p {
    font-size: 15px;
    padding: 42px 33px 30px;
    background: #fc3468;
    color: #fff;
}

#about .about-icons > * {
    margin-top: 45px;
}

#about .about-icons {
    margin-top: 70px;
    margin-bottom: 70px;
}

#about .about-icons i {
    text-align: center;
    float: left;
    width: 100px;
    font-size: 35px;
    border: 1px solid #fc3468;
    border-radius: 50%;
    padding: 32px;
    margin: 10px;
    color: #fc3468;
	transition: all .4s ease;
}

#about .about-icons i:hover {
	color: #fff;
    background: #fc3468;
	transition: all .4s ease;
}


#about .about-icons .icon-text {
    float: left;
    max-width: 212px;
}

#about .about-icons .icon-text h3 {
	font-size: 18px;
	color: #000;
}

#about .about-icons .icon-text p {
	font-size: 13px;
	color: #1f1b1c;
}

/* Services */

#services h2 {
    font-size: 26px;
}
#services i {
    font-size: 30px;
}

#services figcaption p {
    visibility: hidden;
    height: 0;
    transition: all .3s ease;
}

#services figure:hover figcaption p {
    visibility: visible;
    height: 50px;
    transition: all .3s ease;
}


/* Events */

.jt-event-calendar-default-2 .event-btn a {
    background: #fc3468 !important;
    border: 1px solid #fc3468 !important;
	transition: all .3s ease;

}

.jt-event-calendar-default-2 .event-btn a:hover {
    background: transparent !important;
    color: #fc3468 !important;
    border: 1px solid #fc3468 !important;
	transition: all .3s ease;
}

.jt-event-calendar-default-2 .duration {
    color: #fc3468 !important;
}

/* Contact */

#contact iframe {
    margin-bottom: 48px;
}

#contact input[type="text"] {
    width: 49%;
    float: left;
    padding: 8px;
}

#contact input[type="email"] {
	width: 49%;
    padding: 8px;
    margin-left: 21px;
}

#contact input {
    outline: none;
    border: 1px solid #dedede;
}

#contact textarea {
	padding: 8px;
    outline: none;
    border: 1px solid #dedede;
}

#contact input[type="submit"] {
    background: #fc3468;
    font-size: 15px;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
    padding: 15px 36px 15px;
    transition: all .3s linear;
}

#contact input[type="submit"]:hover {
    background: #f781a0 !important;
    transition: all .3s linear;
}



/* Newsletter */

#wp-subscribe {
	background: transparent !important;
	padding: 0 !important;
}

#wp-subscribe form {
	float: left;
    width: 100%;
    margin: 0;
}

#wp-subscribe h4,
#wp-subscribe p {
	display: none;
}

#wp-subscribe input {
	background: transparent !important;
	color: rgba(255, 255, 255, 0.6) !important;
	width: 60% !important;
	float: left !important;
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	outline: none !important;
}

#wp-subscribe input.submit {
	width: 40% !important;
	background: rgba(0, 0, 0, 0.9) !important;
	color: #fff !important;
	margin-top: 0 !important;
	text-transform: capitalize !important;
	box-shadow: none !important;
	transition: all .4s ease-in-out;
	font-size: 14px !important;
	text-shadow: none !important;
}

#wp-subscribe input.submit:hover {
	background: rgba(255, 255, 255, 0.9) !important;
	color: #000 !important;
	transition: all .4s ease-in-out;
}


/* 4. Footer */

#footer {
	width: 100%;
	background: rgba(0, 0, 0, 0.9);
	color: rgba(255, 255, 255, 0.95);
}

#footer .row {
	margin: 0 !important;
}

#footer .widget, 
#footer p {
    margin: 0;
}

#copyright {
    padding: 12px 0;
}

#footer .widget {
    float: left;
}

#totop-btn {
    margin: 12px 0;
    float: right;
}

#totop-btn a {
    color: #fff;
    font-size: 16px;
}


/* 5. Widgets */

.grid-small-space .category {
    background: #fc3468 !important;
}

/* 6. Default WordPress Widgets */
.widget_recent_entries ul, 
.widget_archive ul, 
.widget_categories ul, 
.widget_meta ul, 
.widget_recent_comments ul, 
.widget_pages ul, 
.widget_rss ul,
.widget_nav_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #f0f0f0;
}

.widget_recent_entries ul li,
.widget_archive ul li,
.widget_categories ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_pages ul li,
.widget_rss ul li,
.widget_nav_menu ul li {
    background: #fafafa;
    padding: 10px 15px;
    margin: 0 0 1px;
}

.widget_recent_entries ul li:nth-child(2n),
.widget_archive ul li:nth-child(2n),
.widget_categories ul li:nth-child(2n),
.widget_meta ul li:nth-child(2n),
.widget_recent_comments ul li:nth-child(2n),
.widget_pages ul li:nth-child(2n),
.widget_rss ul li:nth-child(2n),
.widget_nav_menu ul li:nth-child(2n) {
    background: #f8f8f8;
}

.widget_recent_entries ul ul, 
.widget_archive ul ul, 
.widget_categories ul ul, 
.widget_meta ul ul, 
.widget_recent_comments ul ul, 
.widget_pages ul ul, 
.widget_rss ul ul,
.widget_nav_menu ul ul {
	border: 0;
}

.widget_recent_entries ul ul li, 
.widget_archive ul ul li, 
.widget_categories ul ul li, 
.widget_meta ul ul li, 
.widget_recent_comments ul ul li, 
.widget_pages ul ul li, 
.widget_rss ul ul li,
.widget_nav_menu ul ul li {
	margin: 6px 0 0;
	padding: 0 10px;
	background: transparent !important;
}

.widget_recent_entries a,
.widget_archive a,
.widget_categories a,
.widget_meta a,
.widget_recent_comments a,
.widget_pages a {
    color: #000;
    text-decoration: none;
    transition: all .4s ease;
}

.widget_recent_entries li:hover a,
.widget_archive li:hover a,
.widget_categories li:hover a,
.widget_meta li:hover a,
.widget_recent_comments li:hover a,
.widget_pages li:hover a {
    color: #fc3468;
    padding: 0 0 0 8px;
    transition: all .4s ease;
}

.calendar_wrap {
    border: 1px solid #f0f0f0;
}

.calendar_wrap caption {
    background: #fafafa;
    text-align: center;
}

.calendar_wrap thead {
    background: #f0f0f0;
}

.calendar_wrap thead th {
    text-align: center;
    padding: 8px 0;
}

.calendar_wrap td {
    text-align: center;
    padding: 8px;
    background: #fefefe;
}

.calendar_wrap tfoot {
    display: none;
}


.widget_search,
.search-form {
	position: relative;
}

.widget_search label,
.search-form label {
    width: 100%;
}

.widget_search input[type="search"],
.search-form input[type="search"] {
    width: 80%;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.95);
    border: 0;
    outline: none;
    padding: 10px;
    border-radius: 0;
}

.widget_search input[type="submit"],
.search-form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
	width: 20%;
    padding: 13px 13px 12px 12px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: none;
    border: 0;
    border-radius: 0;
    font-size: 15px;
    color: #fff;
    text-shadow: none;
}

.tagcloud a {
    font-size: 13px !Important;
    color: #000;
    border: 1px solid #f0f0f0;
    border-radius: 50px;
    background: #f8f8f8;
    text-decoration: none;
    padding: 5px 10px 5px;
    line-height: 36px;
    margin-right: 4px;
}



/* 7. Page, Category and Post CSS */

/* Page */
.page-header {
    margin: 0;
}

.page-header .page-title {
    margin: 0;
    font-size: 30px;
}


/* Default Post */
article {
	position: relative;
	background: #fff;
	border: 1px solid #f0f0f0;
}

article.sticky {
    border: 3px double ##fc3468;
}

article.sticky .entry-footer {
    margin: 0;
}

.entry-title {
    margin: 0 0 15px;
    font-size: 22px;
    padding: 15px 15px 0;
}

.entry-title a {
    color: #1fb8e0;
    text-decoration: none;
    transition: all .4s ease;
}

.entry-title a:hover {
    color: #000;
    transition: all .4s ease;
}

.content-area {
    margin: 40px 0;
}

.home .content-area {
	margin: 0;
}

.entry-meta {
    position: relative;
    top: 0;
    background: #fbfbfb;
    padding: 8px 15px;
}

.entry-meta a {
    color: #1fb8e0;
    text-decoration: none;
    transition: all .4s ease;
}

.entry-meta a:hover {
    color: #000;
    transition: all .4s ease;
}

.entry-content {
    background: #fff;
    padding: 20px 20px 0;
    margin-top: 0;
	margin-bottom: 15px;
}

.entry-content p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 10px;
}

.entry-footer {
    border-top: 1px solid #f0f0f0;
    padding: 10px 15px;
}

.entry-footer .cat-links, 
.entry-footer .tags-links {
    padding-right: 15px;
}

.entry-footer .comments-link {
    padding-right: 15px;
}

.entry-footer a {
    color: #000;
    text-decoration: none;
    transition: all .4s ease;
}

.entry-footer .edit-link a {
    color: #1fb8e0;
}

.entry-footer a:hover {
    border-bottom: 1px solid #000;
}

.entry-footer .edit-link a:hover {
    border-bottom: 1px solid #fc3468;
}

.single .site-content .container,
.archive .site-content .container,
.category .site-content .container,
.search .site-content .container {
	padding: 80px 0;
}

.single .entry-footer {
    margin-bottom: 0 !important;
}

.post-navigation {
    background: #fdfdfd;
    padding: 10px 15px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}

.post-navigation a {
    color: #585858;
    text-decoration: none;
    transition: all .4s ease;
}

.post-navigation a:hover {
    color: #000;
    transition: all .4s ease;
}

#respond {
    position: relative;
    margin-top: 40px;
}

.comment-form .logged-in-as {
    position: absolute;
    top: 5px;
    right: 0;
}

#respond input,
#respond textarea {
	width: 100%;
    padding: 10px;
    color: #404040;
    border: 1px solid #f0f0f0;
    outline: none;
}

#respond input[type="submit"] {
	width: auto;
    padding: 15px 20px;
    font-size: 16px;
    background: #fc3468;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    border: 1px solid #fc3468;
    border-radius: 2px;
    transition: all .4s ease;
}

#respond input[type="submit"]:hover {
    background: #fff;
    color: #fc3468;
    transition: all .4s ease;
}

/* Sidebar */
aside .widget-title {
    font-size: 18px;
    margin: 40px 0 16px;
    padding: 0;
}



/* 404 Error Page */
.error-404 {
    margin: 50px 0;
    text-align: center;
    padding: 50px;
}

.home-link {
    margin: 40px 0 0;
}

.home-link .btn-homepage {
    background: #fc3468;
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff !important;
}


/** 8. woocommerce **/

.woocommerce #primary {
	margin: 0 !important;
}

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
	background: #fff;
}

.woocommerce span.onsale {
    padding: 0px 18px !Important;
    background-color: rgba(230, 38, 49, 0.84) !important;
	border-radius: 0 !important;
    left: 0 !important;
    right: auto !important;
    margin: 0 !important;
}

.woocommerce .product a.button {
    background-color: rgba(0, 0, 0, 0.61) !Important;
    color: #fff !important;
    border-radius: 0 !IMPORTANT;
    font-weight: 100 !important;
    transition: all .4s ease;
    width: 100%;
    text-align: center;
}

.woocommerce .product a.button:hover {
    background: #000 !IMPORTANT;
	transition: all .4s ease;
}

.woocommerce ul.products li.product .price {
    color: #25272a !Important;
    text-align: center;
    font-size: 14px !important;
}

.woocommerce ul.products li.product .price del {
	display: inline-block !important;
}

.woocommerce ul.products li.product h3 {
    text-align: center;
}


/** Inside Product **/

.single-product .wp-post-image {
    margin-top: 0;
}

.single-product span.onsale {
    margin: 6px 0 !important;
}

.single-product .cart .button {
    background: #000 !important;
    position: relative;
    top: auto !important;
    padding: 9px;
    border-radius: 0 !important;
	font-weight: 400 !Important;
	transition: all .4s ease;

}

.single-product .cart .button:hover {
    background: #e92649 !important;
    color: #fff !important;
	transition: all .4s ease;
}

.single-product .images {
	width: 52% !important;
}

.single-product .summary {
    margin: 0;
    padding: 30px !important;
    background: #fff;
}

.single-product div.product form.cart div.quantity {
    margin: 0;
}

.single-product .quantity input {
    background: #fafafa;
    border: 0 !important;
    padding: 6px !important;
}

.single-product .product_meta span {
    display: block;
    margin-bottom: 3px;
}

.single-product .product_meta .sku_wrapper, .single-product .product_meta .sku {
    display: inline-block;
}

.single-product .product_title {
    font-size: 22px !important;
    font-weight: 400 !important;
}

.single-product p.price, .single-product span.price {
    color: #404040 !important;
    font-size: 16px !important;
}

.related h2 {
    position: relative;
    font-size: 24px;
    margin-bottom: 30px;
}

.related h2:after {
    position: absolute;
    content: '';
    background: #484848;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: -10px;
}

.related .product {
	background: #fff;
}

.related .product img {
	margin: 0 0 20px !important;
}

.related .products span.onsale {
    margin-top: 0 !important;
    left: 0 !important;
    top: 0 !important;
    right: auto !important;
}
.related .product a.button {
    margin: 15px auto 0 !important;
    width: 100%;
    text-align: center;
    transition: all .4s ease;
}

.related .product a.button:hover {
	background: #000 !Important;
	transition: all .4s ease;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin: 0 !important;
	padding: 0 !important;
}

.woocommerce #tab-description {
	padding: 20px !important;
}

.woocommerce #tab-description h2 {
    font-size: 22px;
    margin: 0 0 20px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-weight: 100 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 0 !important;
	border-bottom: none !important;
	border-radius: 0 !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before {
    border: 0 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	border-bottom: 0 !important;
}

.woocommerce #reviews h2, .woocommerce #reviews h3 {
    font-size: 22px;
    margin: 0 0 20px;
}
.woocommerce #reviews {
    padding: 20px;
}


.single-product .form-submit .submit {
    background: #e6262f !IMPORTANT;
    color: #fff !Important;
    border: 1px solid #e62631 !IMPORTANT;
    font-weight: 400 !Important;
    transition: all .4s ease;
}

.single-product .form-submit  .submit:hover {
    border: 1px solid #e62631 !IMPORTANT;
    background: #fff !important;
    color: #e62631 !important;
	transition: all .4s ease;
}

.woocommerce ul.products li.product h3 {
    color: #000 !important;
}

.posted_in a {
    color: #e6262f;
    text-decoration: none !Important;
}

/** Cart **/
.woocommerce-info {
    border-top-color: #000 !Important;
}
.woocommerce-message {
    border-top-color: #000 !important;
}
.woocommerce-message:before {
    color: #000 !important;
}
.woocommerce-info:before {
    color: #000000 !Important;
}
.woocommerce-message a.button {
    background: #fff !important;
    text-shadow: none !important;
    padding: 10px !important;
    margin: -8px;
}
.woocommerce form .form-row label {
    line-height: 3;
    font-weight: 100 !important;
}

.woocommerce-checkout .woocommerce input.button.alt {
	border: 1px solid #000 !important;
    background: #000 !IMPORTANT;
    font-weight: 400 !Important;
	transition: all .4s ease;
}
.woocommerce-checkout .woocommerce input.button.alt:hover {
	border: 1px solid #000 !important;
	background: #ebe9eb !important;
	box-shadow: none !important;
	color: #000 !important;
	transition: all .4s ease;
}

.woocommerce .coupon .button {
    background: #000 !important;
    box-shadow: none !important;
    color: #fff !important;
    text-shadow: none !important;
    font-size: 13px;
    padding: 9px 14px;
}

.shop_table {
    border: 0 !important;
}

.shop_table td {
    padding: 10px !important;
}

.woocommerce .checkout-button {
    background: #575757 !important;
}

.woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2 {
    width: 100%;
}

.woocommerce #payment {
    background: #f9f9f9 !important;
    border-radius: 0 !important;
    border: 2px solid #f0f0f0;
    margin-bottom: 25px;
}




/* 9. Responsive Design */
@media (max-width: 767px) {
	.site-branding {
		margin-top: 45px;
	}
	#social {
		position: absolute;
		top: 14px;
		padding: 0 10px 10px;
		background: rgba(24, 24, 24, 0.8);
		width: 100%;
	}
	.menu-icon {
		display: none;
	}
	.menu-mobile {
		display: block;
		top: -8px;
		position: absolute;
		font-size: 22px;
		z-index: 100;
		color: #fff;
		padding: 5px 0;
	}
	#mobile-menu .menu ul,
	#mobile-menu .menu {
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
	}
	#mobile-menu .menu li {
		padding: 15px 20px 8px;
	}
	#mobile-menu a {
		color: #fff;
	}
	#about .about-icons > * {
		text-align: center !important;
	}
	#about .about-icons i {
		float: none !important;
	}
	#about .about-icons .icon-text {
		max-width: 100% !important;
	}
	#contact input[type="text"],
	#contact input[type="email"] {
		width: 100% !important;
		margin-left: 0 !important;
		margin-bottom: 10px !important;
	}
	.grid-2-cols-portfolio .uk-grid > * {
		width: 100% !important;
	}
	#wp-subscribe input {
		width: 65% !important;
	}
	#wp-subscribe input.submit {
		width: 35% !important;
	}
	#footer {
		text-align: center;
	}
}